* {
	margin: 0;
}

.App {
	padding: 105px 130px;
	display: flex;
	justify-content: space-between;
	background: #f7f7f7;
}

@media (max-width: 1400px) {
	.App {
		padding: 105px 90px;
	}
}

@media (max-width: 1325px) {
	.App {
		padding: 105px 30px;
	}
}
@media (max-width: 1200px) {
	.App {
		padding: 20px;
	}
}
@media (max-width: 850px) {
	.App {
		background: #fff;
		flex-direction: column;
	}
}
